<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.0/jquery.mobile-1.4.0.min.css" />
        <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
        <script src="http://code.jquery.com/mobile/1.4.0/jquery.mobile-1.4.0.min.js"></script>

        <title>kattmandu.se | Professionell katt | bort</title>	
        <meta name="description" content="Professionell kattklippning på internet">
        <meta name="keywords" content="klippning, tvättning, torkning">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    </head>
    <!--http://iphone5csimulator.com/-->
    <body>
        <div data-role="page">

            <div data-role="header">
                <div data-role="navbar">
                    <ul>
                        <li><a href="index1.php?MobileController" title="Hem">Hem</a></li>
                        <li><a href="index1.php?MobileController/getKategori/" title="Produkter">Produkter</a></li>                        
                    </ul>
                    <ul>
                        <li><a href="index1.php?MobileController/getKontakt" title="Kontakt">Kontakt</a></li>
                        <li><a href="index1.php?MobileController/showCart" title="KUNDVAGN">@ Kundvagn</a></li>  
                    </ul>
                </div>
            </div><!-- /header -->

            <div data-role="main" class="ui-content">
                <h1>Kontakta oss om du har någon fundering!</h1>

                <div id="left">
                    <p style="font-size:0.8em;"> 
                        Tobias Lundin <br>
                        070-723 03 12<br>
                        Kletstigen 9<br>
                        Leksand
                    </p>
                    <img src="../img/kontakt.jpg" alt="kattbild" title="kattbild" style="padding-top:0em; max-width:50%; height:auto;float:left;">
                    <img src="../img/tryggehandel.jpg" alt="kattbild" title="kattbild" style="max-width:50%; height:auto;float:left;">
                </div>
                <br><br><br>
                <p> <STRONG>REKLAMATION </STRONG><br>
                    Vi garanterar att de varor du köper hos oss håller god kvalitet och är oskadade.
                    Om något händer på vägen vid frakt eller om varans innehåll är defekt har du självklart returrätt
                    eller rätt till återbetalning.
                    <br>

                    Skulle du få en defekt eller fellevererad vara vill vi att du kontaktar oss så snart som möjligt.
                    Vill du reklamera en vara skall detta ske inom 14 dagar får en fellevererad vara samt inom 2 månader
                    får en reklamation. Vi står för frakten vid felleveranser samt reklamationer.
                    <br>
                    <br>
                    Vid skada eller annan av oss godkänd anledning till återköp returnerar du varan eller får pengarna
                    tillbaka. Vi gör en bedömning och kommer överens om vad som är lämpligt i varje enskilt fall.
                    <br>
                    <br>
                    <STRONG>ÅNGERRÄTT</STRONG>
                    <br>
                    Är du inte nöjd med något du beställt har du 30 dagars ångerrätt efter det att du mottagit varan.
                    Du har alltid rätt att häva ditt köp utan kostnad om varan är slut eller vid förseningar.
                    Ångerrätten gäller ej om varan på något sätt använts.
                    <br>

                    Du får själv bekosta returfrakten. Retur får ej ske som postfärskott eller efterkrav. Spara ditt
                    inlämningskvitto - tänk på att du ansvarar för returförsändelsen.
                    <br>

                    Du blir alltid fullt återbetald för orderbeloppet vid en retur till oss, oavsett vilket betalningsalternativ
                    du valt.
                    <br>

                    När vi fått tillbaka varan och konstaterat att den inte är skadad eller på något sätt använd betalar
                    vi inom 30 dagar tillbaka det belopp du betalat eller korrigerar din faktura.
                    <br>
                    
                    Returer förpackas noggrant, helst i samma ytteremballage varorna levererades i, och skickas till:
                    <br><br>
                    Kattmandu
                    Kletgatan 13
                    Borlänge </p>
                <br>
            </div><!-- /main -->

            <div data-role="footer" data-position="fixed">
                <h4>Kattmandu</h4>
                <a href="tel:020-220060" data-icon="phone" class="ui-btn-right">Ring</a>
                <a href="mailto:h12toblu@du.se" data-icon="mail" class="ui-btn-left">E-Post</a>
            </div><!-- /footer -->

        </div><!-- /page -->
    </body>
</html>
